<!DOCTYPE html>
<html>
  <head>
    <title>StringSync</title>
    <script id="bootstrap-current-user" type="text/javascript">
      window.currentUser = <%= render("api/v1/users/show.json.jbuilder", user: (logged_in? ? current_user : User.new)).html_safe %>
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1" />

    <script>
      window.assets = {
        logo: {
          png: "<%= image_url("logo/logo.png") %>",
          svg: "<%= image_url("logo/logo.svg") %>"
        },
        mascot: {
          guitar: {
            png: "<%= image_url("mascot/guitar.png") %>",
            svg: "<%= image_url("mascot/guitar.svg") %>"
          },
          search: {
            png: "<%= image_url("mascot/search.png") %>",
            svg: "<%= image_url("mascot/search.svg") %>"
          },
          sleep: {
            png: "<%= image_url("mascot/sleep.png") %>",
            svg: "<%= image_url("mascot/sleep.svg") %>"
          }
        }
      };
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
